build
Makefile
.qmake.cache
target
config.h
*.prl
*.o
*.a
moc_*
debian/*.debhelper.log
debian/*.substvars
debian/*.debhelper
debian/xconfigd/
debian/libxconfig/
debian/libxconfig-dev/
debian/libxconfig-dbg/
debian/xconfig-utils/
debian/files
debian/tmp
conf/xconfigd.ini
conf/log4cxx.xml
