build
Makefile
.qmake.cache
target
config.h
*.prl
*.o
*.a
moc_*
debian/*.debhelper.log
debian/*.substvars
debian/*.debhelper
debian/xconfigd-base/
debian/xconfigd/
debian/libxconfig/
debian/libxconfig-dev/
debian/libxconfig-dbg/
debian/xconfig-utils/
debian/php7-xconfig/
debian/pyxconfig/
debian/files
debian/tmp
debian/debhelper-build-stamp
conf/xconfigd.ini
conf/log4cxx.xml
src/php-xconfig/.deps
src/php-xconfig/Makefile.global
src/php-xconfig/acinclude.m4
src/php-xconfig/aclocal.m4
src/php-xconfig/autom4te.cache/
src/php-xconfig/config.guess
src/php-xconfig/config.h.in
src/php-xconfig/config.m4
src/php-xconfig/config.nice
src/php-xconfig/config.sub
src/php-xconfig/configure
src/php-xconfig/configure.in
src/php-xconfig/install-sh
src/php-xconfig/ltmain.sh
src/php-xconfig/missing
src/php-xconfig/mkinstalldirs
src/php-xconfig/run-tests.php
src/php-xconfig/xconfig.cpp
src/php-xconfig/xconfig.h
src/pyxconfig/Makefile
src/pyxconfig/config/tmp.yaml
.idea
.classpath
.project
.settings
