{erl_opts, [debug_info]}.
{cover_enabled, true}.
{artifacts, ["priv/bin/exconfig"]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}
  ]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"},
   {clean, "rm -rf erl_crash.dump logs test/*.beam"}
  ]}.

{deps, [
  {yamerl, {git, "https://github.com/yakaz/yamerl.git", {tag, "v0.8.0"}}}
]}.

{profiles, [
  {test, [
    {erl_opts, [nowarn_export_all]},
    {deps, [
      {meck, "0.9.0"}
    ]}
  ]}
]}.

{xref_checks,[undefined_function_calls, undefined_functions, locals_not_used,
              deprecated_function_calls, deprecated_functions]}.
