Source: xconfig
Section: misc
Priority: extra
Maintainer: Jaime Medrano <jmedrano@tuenti.com>
Build-Depends: debhelper (>= 8.0.0), build-essential, qt4-qmake, pkg-config, libqt4-dev (>= 4.6.0), libdaemon-dev, liblog4cxx10-dev (>= 0.10.0), g++ (>= 4.5), libyaml-dev, libcmph-dev, libboost-program-options-dev (>=1.49)|libboost-program-options1.49-dev, libtbb-dev, libboost-thread-dev (>=1.49)|libboost-thread1.49-dev, python2.7-dev
Standards-Version: 3.9.2
Homepage: http://www.tuenti.com/

Package: xconfigd-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: xconfigd (<< 0.5.0)
Description: XConfig daemon
 Implementation of the daemon for the XConfig configuration system
 No init scripts included

Package: xconfigd
Architecture: any
Depends: xconfigd-base (= ${binary:Version})
Conflicts: xconfigd (<< 0.5.0)
Description: XConfig daemon
 Implementation of the daemon for the XConfig configuration system
 Init scripts

Package: libxconfig
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: XConfig library
 Client library for the XConfig configuration system

Package: libxconfig-dev
Architecture: any
Depends: libxconfig (= ${binary:Version}), ${misc:Depends}, libtbb-dev, libboost-thread-dev (>=1.49)|libboost-thread1.49-dev
Description: XConfig library (Development files)
 Client library for the XConfig configuration system

Package: libxconfig-dbg
Architecture: any
Depends: libxconfig (= ${binary:Version}), ${misc:Depends}
Description: XConfig library (Debug files)
 Client library for the XConfig configuration system

Package: xconfig-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: XConfig utils
 Utility commands for the XConfig configuration system

Package: php7-xconfig
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: XConfig PHP extension
 PHP7 extension for the XConfig configuration system

Package: pyxconfig
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: XConfig Python 2.7 extension
 Python2.7 extension for the XConfig configuration system

